---
import '../../styles/global.css';
import StrategyPage from '../../components/StrategyPage.astro';
import { strategyContent } from '../../data/strategyContent';
import { homeContent } from '../../data/homeContent';

const nav = homeContent.en.nav;
const homeHref = '/en/';
const alternateLocaleHref = '/de/ki-strategie';
const faviconHref = `${import.meta.env.BASE_URL}favicon.png`;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={faviconHref} />
		<title>{strategyContent.en.metaTitle}</title>
	</head>
	<body class="bg-white text-slate-900">
		<StrategyPage
			content={strategyContent.en}
			currentLocale="en"
			nav={nav}
			homeHref={homeHref}
			alternateLocaleHref={alternateLocaleHref}
		/>
	</body>
</html>
