---
const targetHref = '/en/about-us/';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="robots" content="noindex" />
		<meta http-equiv="refresh" content={`0;url=${targetHref}`} />
		<link rel="canonical" href={targetHref} />
		<title>Redirecting to About us</title>
		<script is:inline define:vars={{ targetHref }}>
			window.location.replace(`${targetHref}${window.location.search}${window.location.hash}`);
		</script>
	</head>
	<body>
		<a href={targetHref}>Continue to About us</a>
	</body>
</html>
