---
const targetHref = '/en/imprint';
---

<html lang="en">
	<head>
		<script type="text/javascript" data-cmp-ab="1" src="https://cdn.consentmanager.net/delivery/autoblocking/4c6af0ac92829.js" data-cmp-host="d.delivery.consentmanager.net" data-cmp-cdn="cdn.consentmanager.net" data-cmp-codesrc="16"></script>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-FQ744XXNZ7"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-FQ744XXNZ7');
		</script>
		<meta charset="utf-8" />
		<meta name="robots" content="noindex" />
		<meta http-equiv="refresh" content={`0;url=${targetHref}`} />
		<link rel="canonical" href={targetHref} />
		<title>Redirecting to Imprint</title>
		<script is:inline define:vars={{ targetHref }}>
			window.location.replace(`${targetHref}${window.location.search}${window.location.hash}`);
		</script>
	</head>
	<body>
		<a href={targetHref}>Continue to Imprint</a>
	</body>
</html>
